html, body {
    margin: 0;
    padding: 0;
  }

body {
  background-image: linear-gradient(#0000ff, #009900);
  background-repeat: no-repeat;
}

.site {
    width: 100vw;
    height: 100vh;
}

.content {
    padding: 7px;
}

@media (min-aspect-ratio: 1/1) {
  .content {
      display: flex;
  }
}

.topbar {
    width: 100vw;
    height: 65px;
    background-color: rgba(1, 1, 1 ,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.toplogooutline {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.toplogo {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-image: url("Logo.png");
  background-repeat: no-repeat;
  background-size: cover;
}
  
 .topname {
   color: white;
   padding-left: 7px;
   font-family: Comfortaa;
   }
   
  .title {
   color: white;
   font-family: Nunito;
   display: flex;
   font-size: 5rem;
   align-items: center;
   justify-content: center;
  }
  
  i {
      color: white;
      font-size: 4.5em; 
      margin-right: 7px;
  }
  
  .card {
      background-color: rgba(1, 1, 1 ,0.20);
      padding: 10px;
      border-radius: 15px;
      margin: 7px;
  }
  
  .card p {
   font-size: 3rem;
  }
  
  .btn {
      background-color: #0077ff;
      font-family: Outfit;
      color: white;
      display: flex;
      justify-content: center;
      aligin-items: center;
      padding: 5px;
      border-radius: 15px;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
      transition: transform 0.3s, box-shadow 0.3s;
  }

.btn:hover {
  transform: scale(1.05); /* Zwiększenie rozmiaru diva przy najechaniu */
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  }
